In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"E:\java_mysql\src\main\java\data_user\users.csv")

In [9]:
df2 = df.drop_duplicates(subset=['user_name'], keep="last")

In [10]:
df2

              id user_name         full_name province  age
0              1    qbaryz       Du Khải Hòa       KT   78
1              2    awlcir        Tán An Tâm       QB   68
2              3    jwcbox   Khà Giang Thiên       KT   82
3              4    ksfobp      Lương Tố Tâm      QNa   32
4              5    ivdhap        LÔ Ban Mai      NaN   32
...          ...       ...               ...      ...  ...
1499995  1499996    ipjcnb  Khổng Toàn Thắng       VL   81
1499996  1499997    libbwz      Tào Chí Dũng       BN    3
1499997  1499998    dhdiqy    Thiệu Ðức Sinh       LS   85
1499998  1499999    fqiocq      Giảng Hoạ Mi       TQ   41
1499999  1500000    jmnmpr      LỘ Uyển Nghi       PT    7

[1496283 rows x 5 columns]

In [8]:
df

              id user_name         full_name province  age
0              1    qbaryz       Du Khải Hòa       KT   78
1              2    awlcir        Tán An Tâm       QB   68
2              3    jwcbox   Khà Giang Thiên       KT   82
3              4    ksfobp      Lương Tố Tâm      QNa   32
4              5    ivdhap        LÔ Ban Mai      NaN   32
...          ...       ...               ...      ...  ...
1499995  1499996    ipjcnb  Khổng Toàn Thắng       VL   81
1499996  1499997    libbwz      Tào Chí Dũng       BN    3
1499997  1499998    dhdiqy    Thiệu Ðức Sinh       LS   85
1499998  1499999    fqiocq      Giảng Hoạ Mi       TQ   41
1499999  1500000    jmnmpr      LỘ Uyển Nghi       PT    7

[1500000 rows x 5 columns]